{% extends 'base.html' %}

{% block content %}
  <section class='hero is-fullheight'>
    <div class='hero-body'>
      <div class='container'>
        <div class='columns is-centered'>
          <div class='column is-half'>
            <h2 class='title is-4 has-text-centered'>Логин</h2>
            <form action='' method='post' novalidate>
              {{ form.hidden_tag() }}

              <div class='field'>
                {{ form.email.label(class='label') }}
                <p class='control has-icons-left'>
                  {{ form.email(size='120', class='input', placeholder='Email') }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
                {{ form.password.label(class='label') }}
                <p class='control has-icons-left'>
                  {{ form.password(size='128', class='input', placeholder='Пароль') }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </p>
              </div>
              <div class='field'>
                <p class='control'>
                  {{ form.remember_me() }} {{ form.remember_me.label() }}
                </p>
                <p class='control buttons is-centered'>
                  {{ form.submit(class='button is-primary') }}
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}