<aside class='menu column is-3'>
  <p class='field'>
    <p class='control'>
      {% if current_user.admin_id is not none %}
        Роль - админ
        <br> Создатель -  {{ current_user.parent_admin.name }}
      {% elif current_user.teacher_id is not none %}
        Роль - учитель
        <br> Создатель -  {{ current_user.admin.name }}
      {% endif %}
    </p>
    <p class='control'>
      Имя - {{ current_user.name }}
    </p>
    <p class='control'>
      Email - {{ current_user.email }}
    </p>
  </p>
  <p class='field'>
    <p class='control'>
      <a href='{{ url_for("logout") }}' class='button is-primary'>Выйти</a>
    </p>
  </p>
  <p class='menu-label'>
    Меню
  </p>
  <ul class='menu-list'>
    <li>
      <a href='{{ url_for("index") }}' class='{{ "is-active" if current_url == "/" }}'>Список</a>
    </li>
    <li>
      <a href='{{ url_for("create") }}' class='{{ "is-active" if current_url == "/create" }}'>Создать</a>
    </li>
  </ul>
</aside>